@model PomaBrothers_Frontend.Models.Sale

@{
    ViewData["Title"] = "Ventas";
}

<h3 style="text-align:center">Nueva Vebta</h3>
<hr />
<link rel="stylesheet" href="~/css/Forms.css">

    
<form asp-action="Create">
    <div class="container">
    <div class="row">
        <div class="form-group">
            <h4>Cliente</h4>
            <label class="control-label">Ci:</label>
            <div class="row">
                <div class="col-md-10">
                    <input class="form-control" id="txtSearchModel" placeholder="Buscar..." />
                    <ul id="showModels"></ul>
                    <input asp-for="Customer.Ci" id="txtModelId" hidden />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-success fw-bold" type="button" data-toggle="modal" data-target="#editModel">buscar</button>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input class="form-control" asp-for="Customer.Name" />
                <span asp-validation-for="Customer.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Apellido Paterno</label>
                <input class="form-control" asp-for="Customer.LastName" />
                <span asp-validation-for="Customer.LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label class="control-label">Apellido Materno</label>
                <input class="form-control" asp-for="Customer.SecondLastName" />
                <span asp-validation-for="Customer.SecondLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Correo Electrónico</label>
                <input class="form-control" asp-for="Customer.Email" />
                <span asp-validation-for="Customer.Email" class="text-danger"></span>
            </div>
        </div>
    </div>
    </div>
</form>

<hr />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Productos</h4>
            <button class="buttonV w-50"
                    onclick="" 
                    data-id=""
                    data-toggle="modal"
                    data-target="#mdlAddItem">
                Añadir Productos
            </button>
            <div class="table-responsive">
                <table class="table ttablita mt-3" id="tableItems">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Modelo</th>
                            <th>Categoría</th>
                            <th>Precio de compra (Bs.)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <label for="lblTotal" class="control-label fw-bold">Total:</label>
                            </td>
                            <td>
                                <span id="lblTotal" class="fw-bold"></span>
                                <label class="fw-bold">Bs.</label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="mdlAddItem">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Produtos: </h1>
            </div>
            <div class="container mt-5">
                <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center mx-auto">
                    @foreach (var category in (List<Category>)ViewBag.GetCategories)
                    {
                        <div class="col">
                            <div class="cardVerT mb-3 border-success mx-auto">
                                <div class="card-body" style="padding-left: 10px; padding-right:10px">
                                    <br>
                                    <div class="card-header fw-bold textitos text-center">@category.Name</div>
                                    <hr />
                                    <a asp-action="ItemsByCategories" asp-route-id="@category.Id" class="buttonV w-100 h-100 mb-3">
                                        Ver productos
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="form-group">
        <input type="submit" value="Aceptar" class="btn btn-success w-100" />
        <a asp-action="Index" class="btn btn-success mt-2 w-100">Volver</a>
    </div>
</div>

<div id="countdown" style="display: none;">
    <span id="countdown-value" hidden>900</span>
</div>


<script src="~/js/countdown.js"></script>

@{
}
