<link rel="stylesheet" href="~/css/Forms.css">


<h3 style="text-align:center">Ventas</h3>
<hr />

<div class="container mt-10" style="text-align: right;">
        <button class="btnreportes m-1"
                data-toggle="modal"
                data-target="#modalSales">
            Reporte de ventas
        </button>
</div>


<div class="modal fade" id="modalSales">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content ModalRep" style="text-align:center">
            <div class="modal-heade text-center">
                <br />
                <h4 class="textitos mx-auto">Reportes de ventas</h4>
                <hr />
            </div>
            <div class="modal-body">
                <p>
                    <div class="row">
                        <div class="col">
                            <button class="btnRep1"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#multiCollapseExample1"
                                    aria-expanded="false"
                                    aria-controls="multiCollapseExample1">
                                Reporte de compras de un cliente
                            </button>
                        </div>
                        <div class="col">
                            <button class="btnRep1"
                                    type="button"
                                    data-toggle="collapse"
                                    data-target="#multiCollapseExample2"
                                    aria-expanded="false"
                                    aria-controls="multiCollapseExample2">
                                Reporte de ventas por rango de fechas
                            </button>
                        </div>
                    </div>
                </p>
                <div class="row">
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                        <div class="card card-body cardVerT">
                            
                            <p>
                                <label for="txtCustomer" class="form-label fw-bold">Buscar cliente:</label>
                                <input id="txtCustomer" type="text" class="form-control inputf" placeholder="Ingrese el CI del cliente..." />
                                <input id="txtCustomerId" type="hidden" />
                                <ul class="inputf" id="showCustomers"></ul>
                            </p>
                            <div>
                                <input type="submit" class="buttonV" data-dismiss="modal" value="Generar reporte" onclick="generatedPdfCustomerPurchases()" />
                            </div>
                        </div>
                    </div>
                    <p></p>
                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card card-body cardVerT">
                            <p>
                                <label for="txtStartDate" class="form-label fw-bold">Desde:</label>
                                <input id="txtStartDate" type="date" class="form-control inputf" placeholder="Seleccione una fecha" />
                            </p>
                            <p>
                                <label for="txtEndDate" class="form-label fw-bold">Hasta:</label>
                                <input id="txtEndDate" type="date" class="form-control inputf" placeholder="Seleccione una fecha" />
                            </p>
                            <div>
                                <input type="submit" class="buttonV" onclick="generatedPdfByDateRange()" value="Generar reporte" data-dismiss="modal" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <nav aria-label="Page navigation example">
                <ul class="pagination" id="pagination">
                </ul>
            </nav>
            <!-- Aumenta el ancho de la columna -->
            <table class="table table-bordered table-responsive-xl ttablita" id="tableSales">
                <thead class="thead-dark">
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Total (Bs.)</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se agregan las filas de datos de ventas -->
                </tbody>
            </table>
           
        </div>
    </div>
</div>


<div class="modal fade" id="detailsModal">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content detailsModalVenta">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="lblDateSale">Detalles de la Venta</h5>
            </div>
            <div class="modal-body">
                <h5 class="fw-bold">Productos:</h5>
                <table class="table table-bordered table-responsive-xl ttablita" id="tableItems">
                    <thead class="thead-dark">
                        <tr>
                            <th>Nombre</th>
                            <th>Garantía</th>
                            <th>Serie</th>
                            <th>Precio (Bs.)</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Aquí se agregan las filas de detalles de productos -->
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2"></td>
                            <td>
                                <label class="control-label fw-bold">Total:</label>
                            </td>
                            <td>
                                <span id="lblTotal" class="fw-bold"></span>
                                <label class="fw-bold">Bs.</label>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="mt-2">
                            <label for="lblClientName" class="fw-bold fs-6">Cliente:</label>
                            <label id="lblClientName" class="fs-6"></label>
                        </div>
                        <div class="mt-2">
                            <label for="lblCi" class="fw-bold fs-6">Carnet de identidad:</label>
                            <label id="lblCi" class="fs-6"></label>
                        </div>
                        <div class="mt-2">
                            <label for="lblEmail" class="fw-bold fs-6">Correo electrónico:</label>
                            <label id="lblEmail" class="fs-6"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"  >
                <button type="button" class="btn btnmodalCancel w-80" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="countdown" style="display: none;">
    <span id="countdown-value" hidden>900</span>
</div>

<script src="~/js/countdown.js"></script>



@section Scripts{
    <script>
        const tableSales = document.getElementById('tableSales');

        const tableItems = document.getElementById('tableItems');
        const lblTotal = document.getElementById('lblTotal');
        const lblDateSale = document.getElementById('lblDateSale');
        const lblClientName = document.getElementById('lblClientName');
        const lblEmail = document.getElementById('lblEmail');
        const lblCi = document.getElementById('lblCi');

        const txtCustomer = document.getElementById('txtCustomer');
        const txtCustomerId = document.getElementById('txtCustomerId');
        const showCustomers = document.getElementById('showCustomers');

        const txtStartDate = document.getElementById('txtStartDate');
        const txtEndDate = document.getElementById('txtEndDate');

        const rowsPerPages = 10; 
        let currentSales = [];

        document.addEventListener('DOMContentLoaded', () => {
            txtCustomer.addEventListener('input', () => {
                showCustomers.style.display = 'block';
                searchCustomer(txtCustomer.value);
            });
            getSales();
        })

        function getSales() {
            fetch('/Sale/GetSales')
            .then(res => {
                if (res.ok) {
                    return res.json();
                }
            })
            .then(data => {
                currentSales = data;
                showSales(data);    
            })
            .catch(error => console.error(error));
        }

        function showSales(data, page = 1){
            const tbody = tableSales.getElementsByTagName('tbody')[0];
            tbody.innerHTML = '';
            const start = (page - 1) * rowsPerPages;
            const end = start + rowsPerPages; 
            for (let i = start; i < end && i < data.length; i++) {
                var row = tbody.insertRow();
                row.insertCell(0).textContent = data[i].registerDate;
                let secondLastName;
                if (data[i].customer.secondLastName === null){
                    secondLastName = '';
                }
                else{
                    secondLastName = data[i].customer.secondLastName;
                }
                row.insertCell(1).textContent = data[i].customer.name + ' ' + data[i].customer.lastName + ' ' + secondLastName;
                row.insertCell(2).textContent = data[i].total;
                var btnDetails = document.createElement('button');
                btnDetails.classList.add('btn', 'btntableV');
                
                btnDetails.textContent = 'Ver Detalles';
                btnDetails.setAttribute('data-target', '#detailsModal');
                btnDetails.setAttribute('data-toggle', 'modal');
                btnDetails.onclick = () => {
                    showDetailsOfSale(data[i])
                    showItems(data[i].saleDetails);
                }
                row.insertCell(3).appendChild(btnDetails);
            }
            buildPagination(data.length, page);
        }

        function buildPagination(totalItems, currentPage) {
            const pageCount = Math.ceil(totalItems / rowsPerPages); 
            const pagination = document.getElementById('pagination');
            pagination.innerHTML = '';

            for (let i = 1; i <= pageCount; i++) { 
                const li = document.createElement('li');
                li.className = 'page-item ' + (i === currentPage ? 'active' : '');
                const a = document.createElement('a');
                a.className = 'page-link';
                a.textContent = i;
                a.href = '#';
                a.addEventListener('click', function (e) {
                    e.preventDefault();
                    showSales(currentSales, i); 
                });
                li.appendChild(a);
                pagination.appendChild(li); 
            }
        }

        function showDetailsOfSale(sale){
            lblTotal.textContent = sale.total;
            lblDateSale.textContent = `Venta de ${sale.registerDate}`;
            let secondLastName;
            if (sale.customer.secondLastName === null) {
                secondLastName = '';
            }
            else {
                secondLastName = sale.customer.secondLastName;
            }
            lblClientName.textContent = sale.customer.name + ' ' + sale.customer.lastName + ' ' + secondLastName;
            lblEmail.textContent = sale.customer.email;
            lblCi.textContent = sale.customer.ci;
        }

        function showItems(items) {
            const tbody = tableItems.getElementsByTagName('tbody')[0];
            tbody.innerHTML = '';
            items.forEach(detail => {
                var row = tbody.insertRow();
                row.insertCell(0).textContent = detail.item.name;
                row.insertCell(1).textContent = detail.item.durationWarranty + ' ' + detail.item.typeWarranty;
                row.insertCell(2).textContent = detail.item.serie;
                row.insertCell(3).textContent = detail.item.price;
            });
        }

        function searchCustomer(customer){
            fetch(`/Customer/SearchCustomer?searchCustomer=${customer}`)
            .then(res => res.json())
            .then(data => {
                showCustomers.innerHTML = '';
                data.forEach(customer => {
                    const li = document.createElement('li');
                    li.className = 'list-group-item';
                    li.style.cursor = 'pointer';
                    if (customer.secondLastNameCustomer === null) {
                        li.textContent = customer.nameCustomer + ' ' + customer.lastNameCustomer;
                    }else{
                        li.textContent = customer.nameCustomer + ' ' + customer.lastNameCustomer + ' ' + customer.secondLastNameCustomer;
                    }
                    li.addEventListener('click', () => {
                        showCustomers.style.display = 'none';
                        txtCustomer.value = li.textContent;
                        txtCustomerId.value = customer.id;
                    });
                    showCustomers.appendChild(li);
                });
            })
            .catch(error => console.log(error))
        }

        function generatedPdfCustomerPurchases(){
            let id = txtCustomerId.value;
            fetch(`/SalesReports/GeneratedReportPurchasesCustomer?customerId=${id}`)
            .then(res => {
                txtCustomer.value = '';
                txtCustomerId.value = '';
                if (res.ok && res.headers.get('Content-Type') === 'application/pdf') {
                    return res.blob();
                } else if (!res.ok) {
                    return res.text().then(text => {
                        throw new Error('No se pudo generar el reporte');
                    });
                }
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                window.open(url, '_blank');
                window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('Error al descargar el archivo: ', error);
                alert(error.message);
            })
        }

        function generatedPdfByDateRange() {
            let startDate = txtStartDate.value;
            let endDate = txtEndDate.value;
            fetch(`/SalesReports/GeneratedReportSalesByDateRange?startDate=${startDate}&finishDate=${endDate}`)
            .then(res => {
                txtStartDate.value = '';
                txtEndDate.value = '';
                if (res.ok && res.headers.get('Content-Type') === 'application/pdf') {
                    return res.blob();
                } else if (!res.ok) {
                    return res.text().then(text => {
                        throw new Error(text || 'No se pudo generar el reporte');
                    });
                }
            })
            .then(blob => {
                    const url = window.URL.createObjectURL(blob);
                    window.open(url, '_blank');
                    window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('Error al descargar el archivo: ', error);
                alert(error.message);
            })
        }
    </script>
}
