@model Supplier
@{
    ViewData["Title"] = "Actualizar";
}
<link rel="stylesheet" href="~/css/Forms.css">
<form asp-action="Edit">
    <div class="container">
        <br />
        <h1 class="text-center">Actualizar Proveedor</h1>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="">
                    <div class="card-body cardBPC">
                        <h4 class="card-title">Proveedor</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="BussinesName" class="control-label"></label>
                                    <input asp-for="BussinesName" class="form-control inputf" />
                                    <span asp-validation-for="BussinesName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Ci" class="control-label"></label>
                                    <input asp-for="Ci" type="number" class="form-control inputf" />
                                    <span asp-validation-for="Ci" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone" class="control-label"></label>
                                    <input asp-for="Phone" type="number" class="form-control inputf" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Manager" class="control-label"></label>
                                    <input asp-for="Manager" class="form-control inputf" />
                                    <span asp-validation-for="Manager" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Address" class="control-label"></label>
                                    <textarea asp-for="Address" class="form-control inputf" rows="4"></textarea>
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="submit" value="Actualizar" class="buttonA" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <a asp-action="Index" class="buttonV">Volver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


@*@model Supplier

@{
    ViewData["Title"] = "Actualizar";
}

<h1>Actualizar</h1>
<h4>Proveedor</h4>

<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-6">
            <input asp-for="Id" type="hidden" />
            <div class="form-group">
                <label asp-for="BussinesName" class="control-label"></label>
                <input asp-for="BussinesName" class="form-control" />
                <span asp-validation-for="BussinesName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ci" class="control-label"></label>
                <input asp-for="Ci" type="number" class="form-control" />
                <span asp-validation-for="Ci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" type="number" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Manager" class="control-label"></label>
                <input asp-for="Manager" class="form-control" />
                <span asp-validation-for="Manager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <textarea asp-for="Address" class="form-control"></textarea>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-success w-25" />
                <a asp-action="Index" class="btn btn-success w-25">Volver</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}*@
