@{
    ViewData["Title"] = "Categorías";
}
<link rel="stylesheet" href="~/css/Forms.css">

<br />
<h1 style="text-align:center">Categorías</h1>

<hr />

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        @foreach (var category in (List<Category>)ViewBag.GetCategories)
        {
            <div class="col">
                <div class="card cardBP">
                    <div class="card-body">
                        <h4 class="card-title">@category.Name</h4>
                        <a asp-action="ItemsByCategories" asp-route-id="@category.Id" class="btn buttonV">
                            Ver productos
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


