@{
    ViewData["Title"] = "Categorías";
}
<link rel="stylesheet" href="~/css/Forms.css">

<br />
<h1 style="text-align:center">Categorías</h1>

<hr />

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">
        @foreach (var category in (List<Category>)ViewBag.GetCategories)
        {
            <div class="col">
                <div class="cardVerT mb-3 border-success mx-auto">
                    <div class="card-body" style="padding-left: 10px; padding-right:10px">
                        <br>
                        <div class="card-header fw-bold textitos text-center">@category.Name</div>
                        <hr />
                        <a asp-action="ItemsByCategories" asp-route-id="@category.Id" class="buttonV w-100 h-100 mb-3">
                            Ver productos
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


