@model PomaBrothers_Frontend.Models.Employee


@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="alert alert-danger mt-3">
        @ViewData["ErrorMessage"]
    </div>
}
<link rel="stylesheet" href="~/css/Forms.css">
<br />

<div class="tab-pane fade show active" style="text-align:center" id="login" role="tabpanel" aria-labelledby="login-tab">
    <h2 class="text-center mt-4 mb-4 font-weight-bold" style="text-transform: uppercase;">INICIAR SESION</h2>
    <form asp-action="Login">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-5">
                    <img src="~/images/logo.png" class="img-fluid" style="width:600px; height:400px;">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" class="form-control inputf" placeholder="Ingresa tu Usuario" required asp-for="User">
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" class="form-control inputf" placeholder="Ingresa tu contraseña" required="" asp-for="Password">
                    </div>
                    <div class="mt-2 mb-5">
                        <button class="buttonG" type="submit">ACEPTAR</button>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        
    </form>
</div>


<div id="countdown" style="display: none;">
    <span id="countdown-value" hidden>900</span>
</div>

<script src="~/js/countdown.js"></script>
