@model Item

@{
    ViewData["Title"] = "Añadir";
}

<h1>Añadir</h1>

<h4>Producto</h4>
<hr />

<form asp-action="Create">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemModel.ModelName" class="control-label"></label>
                <input asp-for="ItemModel.ModelName" class="form-control" />
                <span asp-validation-for="ItemModel.ModelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie" class="control-label"></label>
                <input asp-for="Serie" class="form-control" />
                <span asp-validation-for="Serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="8" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemModel.Marker" class="control-label"></label>
                <input asp-for="ItemModel.Marker" class="form-control" />
                <span asp-validation-for="ItemModel.Marker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warranty" class="control-label"></label>
                <input asp-for="Warranty" class="form-control" />
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" id="categorySelected">
                    @foreach (var category in (List<Category>)ViewBag.Data)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemModel.CapacityOrSize" class="control-label"></label>
                <div class="row">
                    <div class="col-md-4">
                        <input asp-for="ItemModel.CapacityOrSize" class="form-control" />
                    </div>
                    <div class="col-md-8">
                        <select asp-for="ItemModel.MeasurementUnit" class="form-control">
                            <option>Kilogramos</option>
                            <option>Pulgadas</option>
                            <option>Litros</option>
                        </select>
                    </div>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-success w-25" />
                <a asp-action="Index" class="btn btn-success w-25">Volver</a>
            </div>
        </div>
    </div>
</form>

<<<<<<< HEAD
=======
<div class="modal fade" id="newModel">
    <div class=" modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Añadir modelo</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="txtModel" class="col-form-label">Modelo:</label>
                        <input type="text" class="form-control" id="txtModel">
                    </div>
                    <div class="mb-3">
                        <label for="txtMarker" class="col-form-label">Marca:</label>
                        <input type="text" class="form-control" id="txtMarker">
                    </div>
                    <div class="mb-3">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" role="switch" id="cbxCapacity"/>
                            <label for="cbxCapacity" class="form-check-label">Añadir capacidad o tamaño</label>
                        </div>
                    </div>
                    <div class="form-group" id="capacityDiv">
                        <div class="row">
                            <div class="col-md-4">
                                <input class="form-control" id="txtCapacityOrSize" placeholder="Capacidad"/>
                            </div>
                            <div class="col-md-8">
                                <select class="form-control" id="cmbMeasurementUnit">
                                    <option value="" disabled selected>Seleccione la unidad de medida</option>
                                    <option value="Litros">Litros</option>
                                    <option value="Kilogramos">Kilogramos</option>
                                    <option value="Pulgadas">Pulgadas</option>
                                    <option value="Watts">Watts</option>
                                    <option value="Metros/hora">M3/h </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="submit" id="btnAdd" onclick="addModel()" data-dismiss="modal" class="btn btn-success" value="Añadir" />
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

>>>>>>> chris
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
