@model Item

@{
    ViewData["Title"] = "Actualizar";
}

<h1>Actualizar</h1>
<h4>Producto</h4>
<hr />
<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <input asp-for="Id" type="hidden"/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serie" class="control-label"></label>
                <input asp-for="Serie" class="form-control" />
                <span asp-validation-for="Serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="8" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Modelo:</label>
                <div class="row">
                    <div class="col-md-10">
                        <input class="form-control" id="txtSearchModel" placeholder="Buscar..."/>
                        <ul id="showModels"></ul>
                        <input asp-for="ModelId" id="txtModelId" hidden/>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-success fw-bold" type="button">+</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" type="number" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationWarranty" class="control-label"></label>
                <div class="row">
                    <div class="col-md-4">
                        <input asp-for="DurationWarranty" class="form-control" id="txtDurationWarranty" />
                    </div>
                    <div class="col-md-8">
                        <select asp-for="TypeWarranty" class="form-control" id="cmbTypeWarranty">
                            <option value="" selected disabled>@ViewBag.Type</option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" id="categorySelected">
                    @foreach (var category in (List<Category>)ViewBag.Data)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-success w-25" />
                <a asp-action="Index" class="btn btn-success w-25">Volver</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const txtSearchModel = document.getElementById('txtSearchModel');
        const showModels = document.getElementById('showModels');
        const txtModelId = document.getElementById('txtModelId');

        const txtDurationWarranty = document.getElementById('txtDurationWarranty');
        const cmbTypeWarranty = document.getElementById('cmbTypeWarranty');

        document.addEventListener('DOMContentLoaded', () => {
            loadModel(txtModelId.value);
            txtSearchModel.addEventListener('input', () => {
                showModels.style.display = 'block';
                searchModel(txtSearchModel.value);
            });
        });

        txtDurationWarranty.addEventListener('input', () => {
            cmbTypeWarranty.options[0].text = 'Seleccione tipo de garantía';
            if (txtDurationWarranty.value === '1') {
                cmbTypeWarranty.options[1].text = 'Año';
                cmbTypeWarranty.options[1].value = 'Año';

                cmbTypeWarranty.options[2].text = 'Mes';
                cmbTypeWarranty.options[2].value = 'Mes';
            }
            else {
                cmbTypeWarranty.options[1].text = 'Años';
                cmbTypeWarranty.options[1].value = 'Años';

                cmbTypeWarranty.options[2].text = 'Meses';
                cmbTypeWarranty.options[2].value = 'Meses';
            }
        });

        function searchModel(model){
            fetch(`/Item/SearchModel?searchModel=${model}`)
            .then(response => response.json())
            .then(data => {
                showModels.innerHTML = '';
                data.forEach(model => {
                    const li = document.createElement('li');
                    li.className = 'list-group-item';
                    li.style.cursor = 'pointer';
                    li.textContent = model.modelName + ' - ' + model.marker;

                    li.addEventListener('click', () => {
                        showModels.style.display = 'none';
                        txtSearchModel.value = li.textContent;
                        txtModelId.value = model.id;
                    });
                    showModels.appendChild(li);
                });
            })
            .catch(error => console.log(error))
        }

        function loadModel(id){
            fetch(`/Item/GetModel?id=${id}`)
            .then(response => response.json())
            .then(data => {
                txtSearchModel.value = data.modelName + ' - ' + data.marker;
            })
            .catch(error => console.error(error))
        }
    </script>
}
